.owner-container {
    background-color: #eeeeee;
    height: 400px;
    width: 300px;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
}

#drafting-slots {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-gap: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
}

p {
    font-size: 15px;
    color: black;
    font-family: Arial;
  }
